
body {
    margin: 0;
    color: #313042;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.015em;
    font-size: 18px;
}

header {
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    overflow-x: visible; /* for the dropdown menu */
    background-color: #1E1D32;
    color: #fff;
    border-bottom: 1px solid #141229;
    box-shadow: 0px 1px 3px 1px rgba(46, 46, 46, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
    z-index: 2;
}

header h1 {
    display: inline;
    line-height: 56px;
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 0.02em;
    border-bottom: 0;
    padding-bottom: 0;
}


@media (max-width: 980px) {
    body { font-size: 14px; }
    header h1 { display: none; }
    header > nav > ul > li > a { padding: 0 10px !important; }
}

@media (max-width: 640px) {
    body { font-size: 12px; }
    .card_media i { font-size: 35px !important; }
    .card { height: 130px !important; }
}

@media (min-width: 980px) {
    header h1 { display: inline; }
}

.content {
    max-width: 1000px;
    margin: 110px auto 0;
    overflow: auto;
}

.logo {
    font-size: 18px;
    line-height: 56px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.logo::first-letter {
    text-transform: uppercase;
}

.g_3 {
  width: 30%;
}

.g_4 {
  width: 40%;
}

.g_5 {
  width: 50%;
}

.g_6 {
  width: 60%;
}

.g_7 {
  width: 70%;
}

[class^='g_'] {
    box-sizing: border-box;
    float: left;
}

.card_gutter {
    margin: 0 40px 40px;
    position: relative;
    height: 100px;
}

.card_wrapper {
    border-radius: 6px;
    position: absolute;
    width: 100%;
    border: 2px solid transparent;
}

.card_wrapper {
    cursor: pointer;
  border-radius : 6px;
  position : absolute;
  width : 100%;
  border : 2px solid transparent;
}

.card {
    background: #FFF;
    box-sizing: border-box;
    height:110px;
    border : 1px solid transparent;
    border-left : 5px solid transparent;  
    border-radius : 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all ease-in-out .2s;
}

.card:hover {
    border-color: #EA5565;
    transition : all ease-in-out .3s;
}

.card_media {
    display: table;
    text-align: center;
    height: 100px;
    margin: auto auto auto -5px;
}

.card_media i,
.card_media img {
    width : 80%;
    vertical-align: middle;
    font-size : 50px;
    text-align: center;
    display : table-cell;
}



.card_head {
    margin : 25px 0 3px 0;
    font-weight: bold;
}

.card_body {
    font-size : 90%;
    vertical-align: middle;
    line-height: 20px;
    display: table-cell;
}

.card_body p {
    margin : 0;
    padding-right : 10px;
}

a {
    color: #313042;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 30px 0;
    font-size: 90%;
}

.footer a:hover {
    color: #EA5565;
}
