
body {
    color: #212121;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

.highlight {
    margin: 1em;
    border: 1px solid #eee;
    padding: 0 1em;
}

h1 a, h2 a, h3 a, h4 a {
    margin-right: 5px;
    opacity: 0.1;
}

h1 a svg, h2 a svg, h3 a svg, h4 a svg {
    padding-top: 15px;
}


h1, h2, h3, h4 {
    padding-top: 1em;
}

h1, h2, h3, h4 {
    padding-bottom: 0.3em;
    /*font-size: 2em;*/
    border-bottom: 1px solid #eee;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover {
    opacity: 1;
}

.menu ul, .menu ol {
    margin-left: -20px;
}

.menu ul ul, ol ol {
    margin-left: -30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a.current {
    color: #212121;
    text-decoration: none;
    font-weight: bold;
}

a.external {
    color: #b9844d;
    /*text-decoration: underline;*/
}

.content {
    margin: 10px 40px;
}

code {
    color: #666;
    background-color: #fff;
    padding: 0 3px;
    -webkit-box-shadow: 1px 1px 2px 0 #ddd;
    -moz-box-shadow: 1px 1px 2px 0 #ddd;
    box-shadow: 1px 1px 2px 0 #ddd;
}

blockquote {
    background: #fcf8e3;
    border-left: 15px solid #faebcc;
    color: #8a6d3b;
    padding: 5px 10px;
}

img {
    max-width: 80%;
    -webkit-box-shadow: 3px 3px 15px 0 #ccc;
    -moz-box-shadow: 3px 3px 15px 0 #ccc;
    box-shadow: 3px 3px 15px 0 #ccc;
    display: block;
}

em {
    background-color: #f3ffdd;
}
